/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background: #1b3543;
    color: #E1E1E1;
    padding: 1em;
}

.mat-focused .mat-input-placeholder {
    color: #158da7
}
.mat-input-placeholder {
    color: white;
}

.mat-input-ripple {
    background-color: #158da7
}