/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background: #1b3543;
    color: #E1E1E1;
    padding: 1em;
}